/* Globales y variables*/
/*Variables*/
.color--principal {
  color: #F29602; }

.color--secondary {
  color: #F2EFEA; }

.color--backgrounds {
  color: #3D3D3D; }

.color--darker {
  color: #000000; }

/*Helpers*/
li form input {
  width: 13vw; }

.polaroid_content {
  text-align: center;
  padding: 0vh 2vw;
  display: flex;
  justify-content: center;
  flex-direction: column; }

button:hover {
  color: #F29602; }

.add_to_cart_buttons {
  margin-left: 25%;
  margin-right: 25%; }

/* Normalize*/
*,
*::after,
*::before {
  font-family: 'Syncopate', sans-serif;
  border-left: 20px;
  border-right: 20px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  min-width: 100%;
  display: grid;
  grid-auto-rows: auto 1fr auto; }

/*Partials*/
/*Header Menu styles */
a:link {
  color: #F29602; }

a:visited {
  color: #F29602; }

a:hover {
  color: #F2EFEA; }

li a:hover:not(.active) {
  background-color: #252424;
  border-bottom: 4px solid #F2EFEA; }

a:active {
  color: black;
  border-bottom: 3px solid crimson; }

header {
  background-color: #000000; }
  header .nav {
    min-height: 10vh;
    min-width: 100%;
    border-bottom: 1px solid whitesmoke; }
    header .nav .menu_div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 0;
      min-height: inherit; }
      header .nav .menu_div .menu_title {
        color: #F29602;
        flex-basis: 20%;
        max-width: auto;
        padding: 7px; }
      header .nav .menu_div .menu_link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0;
        gap: 1vw;
        flex-basis: 70%; }
        header .nav .menu_div .menu_link li a {
          font-size: 2vh;
          padding: 3vh;
          transition: all .3s ease-in-out; }
  header .secondary_nav {
    border-bottom: 1px solid grey; }
    header .secondary_nav_list {
      display: flex; }
      header .secondary_nav_list_item {
        padding: 1vh 0; }
        header .secondary_nav_list_item .sales-pages {
          padding: 1vh 2vw; }

/* Media Queries*/
@media screen and (max-width: 770px) {
  .menu_div {
    flex-wrap: wrap;
    justify-content: center; }
    .menu_div .menu_link {
      justify-content: space-between;
      flex-grow: 1; }
      .menu_div .menu_link li a {
        padding: 0 3vw;
        display: flex;
        justify-content: center; }
      .menu_div .menu_link li form input {
        width: 10vw 0; }
      .menu_div .menu_link #light_novel_link_ {
        padding-bottom: 5px; } }

@media screen and (max-width: 730px) {
  #light_novel_link_ {
    padding: 2vh 0; } }

@media screen and (max-width: 570px) {
  header nav .menu_div {
    display: grid;
    grid-template-rows: 1fr 1fr; }
    header nav .menu_div .menu_title {
      justify-self: center; }
    header nav .menu_div .menu_link {
      justify-content: space-between;
      flex-grow: 1; }
      header nav .menu_div .menu_link #light_novel_link_ {
        padding: 0 10px; }
      header nav .menu_div .menu_link li a {
        font-size: 2vh;
        padding: 0 4vw;
        transition: all .3s ease-in-out; } }

@media screen and (max-width: 480px) {
  #light_novel_link_ {
    padding: 0vh 1vh; } }

/* ! footer*/
footer {
  background-color: #000000;
  min-height: 10vh;
  display: flex;
  justify-content: space-around; }
  footer .copyright {
    flex-basis: 30%;
    color: #3D3D3D;
    font-size: small;
    text-align: center;
    display: flex;
    align-items: flex-end; }
  footer .link_contactUs {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center; }
    footer .link_contactUs .footer_link {
      padding: 1vh; }
  footer .icon_list {
    display: flex;
    justify-content: flex-end;
    margin: 0 3vw;
    align-items: center; }
    footer .icon_list li {
      margin: 0 5px; }
  footer .footer_image {
    max-height: 30px; }

/*Vistas*/
/*Main of Index*/
.body_index {
  display: grid;
  grid-auto-rows: auto 1fr auto; }
  .body_index .background_index {
    background: #000000;
    background: linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
    background: -webkit-linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
    background: -moz-linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
    /*the main polaroid where it show a big image and a message*/
    /*Part of bestseller here contain*/ }
    .body_index .background_index .polaroid_about_us {
      color: #F29602;
      margin-left: 25px;
      margin-top: 10px;
      padding-bottom: 10px; }
    .body_index .background_index .polaroid {
      display: block;
      flex-basis: 30%;
      width: 25vw; }
      .body_index .background_index .polaroid .img_content {
        min-width: auto;
        min-height: 20vh;
        text-align: center;
        padding: 10px 20px; }
    .body_index .background_index .bestseller_section {
      flex-basis: 70%;
      flex-grow: 1; }
      .body_index .background_index .bestseller_section_title {
        color: #F29602;
        margin-left: 25px;
        margin-top: 10px;
        padding-bottom: 10px; }
      .body_index .background_index .bestseller_section .carnage_polaroid {
        background: rgba(0, 0, 0, 0.137);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40vh;
        margin-top: 20px;
        margin-bottom: 20px;
        color: antiquewhite; }
        .body_index .background_index .bestseller_section .carnage_polaroid .carnage_polaroid_picture {
          width: 100%;
          height: auto;
          border-radius: 10px; }

/*Main of Comics*/
.comics_background {
  background: #000000;
  background: linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
  background: -webkit-linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
  background: -moz-linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
  /*Section of comics */ }
  .comics_background .comics_title {
    color: #F29602;
    margin: 20px 1vw;
    border-bottom: 2px solid #F29602; }
  .comics_background .section_comics {
    display: flex;
    justify-content: auto;
    align-items: baseline;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    /*The polaroids and their respective pictures*/ }
    .comics_background .section_comics .carnage_polaroid {
      background: rgba(0, 0, 0, 0.137);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40vh;
      margin-top: 20px;
      color: aliceblue; }
      .comics_background .section_comics .carnage_polaroid .carnage_polaroid_picture {
        width: 100%;
        height: auto;
        border-radius: 10px; }
    .comics_background .section_comics .daredevil_polaroid {
      background: rgba(0, 0, 0, 0.137);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40vh;
      margin-top: 20px;
      color: aliceblue; }
      .comics_background .section_comics .daredevil_polaroid .daredevil_polaroid_picture {
        width: 100%;
        height: auto;
        border-radius: 10px; }
    .comics_background .section_comics .conan_polaroid {
      background: rgba(0, 0, 0, 0.137);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40vh;
      margin-top: 20px;
      color: aliceblue; }
      .comics_background .section_comics .conan_polaroid .conan_polaroid_picture {
        width: 100%;
        height: auto;
        border-radius: 10px; }
    .comics_background .section_comics .hulk_polaroid {
      background: rgba(0, 0, 0, 0.137);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40vh;
      margin-top: 20px;
      margin-bottom: 20px;
      color: aliceblue; }
      .comics_background .section_comics .hulk_polaroid .hulk_polaroid_picture {
        width: 100%;
        height: auto;
        border-radius: 10px; }

/* Main of Manga*/
.background_manga {
  background: #000000;
  background: linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
  background: -webkit-linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
  background: -moz-linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%); }
  .background_manga .manga_title {
    color: #F29602;
    margin: 20px 1vw;
    border-bottom: 2px solid #F29602; }
  .background_manga .manga_section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
    flex-grow: 1;
    gap: 15px; }
    .background_manga .manga_section .blue_lock_polaroid {
      background: rgba(0, 0, 0, 0.137);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40vh;
      margin-top: 20px;
      margin-bottom: 20px;
      color: antiquewhite; }
      .background_manga .manga_section .blue_lock_polaroid_picture {
        width: 100%;
        height: auto;
        border-radius: 10px; }
    .background_manga .manga_section .chainsaw_polaroid {
      background: rgba(0, 0, 0, 0.137);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40vh;
      margin-top: 20px;
      margin-bottom: 20px;
      color: antiquewhite; }
      .background_manga .manga_section .chainsaw_polaroid .chainsaw_polaroid_picture {
        width: 100%;
        height: auto;
        border-radius: 10px; }
      .background_manga .manga_section .chainsaw_polaroid .chainsaw_polaroid div button {
        color: black;
        margin: 7px;
        display: inline; }
    .background_manga .manga_section .jujutsu_polaroid {
      background: rgba(0, 0, 0, 0.137);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40vh;
      margin-top: 20px;
      margin-bottom: 20px;
      color: antiquewhite; }
      .background_manga .manga_section .jujutsu_polaroid .jujutsu_polaroid div button {
        color: black;
        margin: 7px;
        display: inline; }
      .background_manga .manga_section .jujutsu_polaroid .jujutsu_polaroid_picture {
        width: 100%;
        height: auto;
        border-radius: 10px; }
    .background_manga .manga_section .revengers_polaroid {
      background: rgba(0, 0, 0, 0.137);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40vh;
      margin-top: 20px;
      margin-bottom: 20px;
      color: antiquewhite; }
      .background_manga .manga_section .revengers_polaroid .revengers_polaroid_picture {
        width: 100%;
        height: auto;
        border-radius: 10px; }

/*Main of Light Novels*/
.background_light_novel {
  background: #000000;
  background: linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
  background: -webkit-linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
  background: -moz-linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%); }
  .background_light_novel .light_novel_title {
    color: #F29602;
    margin: 20px 1vw;
    border-bottom: 2px solid #F29602; }
  .background_light_novel .light_novel_section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
    flex-grow: 1;
    gap: 15px; }
  .background_light_novel .goblin_slayer {
    background: rgba(0, 0, 0, 0.137);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    margin-top: 20px;
    margin-bottom: 20px;
    color: antiquewhite; }
    .background_light_novel .goblin_slayer_picture {
      width: 100%;
      height: auto;
      border-radius: 10px; }

.background_createNew {
  background: #000000;
  background: linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
  background: -webkit-linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
  background: -moz-linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%); }
  .background_createNew h1 {
    color: #F29602;
    margin: 20px 1vw;
    border-bottom: 2px solid #F29602; }
  .background_createNew .create_new {
    display: flex;
    align-items: center;
    justify-content: center; }

/*Main of Contact Us*/
.contact_background {
  background-image: url(./assets/images/Profile/background_profile.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center; }
  .contact_background .form {
    color: whitesmoke;
    text-align: center;
    margin: 5vh 0;
    background-color: black;
    border-radius: 1.5vw;
    height: 70vh; }
    .contact_background .form fieldset p {
      padding: 2vh; }
    .contact_background .form fieldset {
      display: grid;
      grid-template-columns: 1fr;
      grid-row: 7;
      height: 65vh; }

/*Profile main*/
.profile_background {
  background-color: #220808;
  background: #000000;
  background: linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
  background: -webkit-linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%);
  background: -moz-linear-gradient(90deg, #000000 0%, #3d3d3d 90%, #000000 100%); }
  .profile_background .back {
    height: 80vh; }
  .profile_background .title_profile {
    color: #F29602;
    margin: 20px 1vw;
    border-bottom: 2px solid #F29602; }
  .profile_background .profile_data {
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    .profile_background .profile_data .data {
      text-align: center;
      flex-basis: 40%;
      text-decoration: solid;
      background-color: black;
      color: #F2EFEA;
      margin: 10px 10px;
      border-radius: 10px; }
      .profile_background .profile_data .data .separation {
        padding: 1vh 1vw; }
    .profile_background .profile_data .compras {
      text-align: center;
      flex-basis: 50%;
      text-decoration: solid;
      background-color: black;
      color: #F2EFEA;
      margin: 10px 10px;
      border-radius: 10px; }
      .profile_background .profile_data .compras .paragraph_compras {
        padding: 1vh 1vw; }
      .profile_background .profile_data .compras .selled_picture {
        display: flex;
        justify-content: center; }
        .profile_background .profile_data .compras .selled_picture .selled_item_img {
          border-radius: 10px;
          height: 30vh;
          margin: 1vh 1vw; }
