/* Globales y variables*/
/* Normalize*/
*,
*::after,
*::before {
  font-family: Quintessential;
  border-left: 20px;
  border-right: 20px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

/*!  general */
li form input {
  width: 13vw;
}

.polaroid_content {
  text-align: center;
  padding: 0vh 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add_to_cart_buttons {
  padding: 2px;
  background-image: url(../images/Buttons-general/buttons-bc.jpg);
  background-size: cover;
  color: whitesmoke;
}

button:hover {
  color: orange;
}

hr {
  border: inset orange;
}

/*Partials*/
/*Header Menu styles */
a:link {
  color: white;
}

a:visited {
  color: rgba(255, 166, 0, 0.973);
}

a:hover {
  color: red;
}

li a:hover:not(.active) {
  background-color: #270303;
  border: 1px solid #0c0c0c;
}

a:active {
  color: black;
  border-bottom: 3px solid crimson;
}

header {
  background-color: #370617;
}

header nav {
  min-height: 10vh;
  min-width: 100%;
}

header nav .menu_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
}

header nav .menu_div .menu_title {
  color: #ffa500;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 30vw;
  max-width: 40vw;
}

header nav .menu_div .dropdown {
  display: none;
}

header nav .menu_div .menu_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu_div .menu_link li a {
  font-size: 2vh;
  padding: 3vh;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header nav .menu_div .menu_link #light_novel_link_ {
  padding: 3vh 1vw;
}

/* Media Queries*/
@media screen and (max-width: 770px) {
  .menu_div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_div .menu_link {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .menu_div .menu_link li a {
    padding: 0 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_div .menu_link li form input {
    width: 10vw 0;
  }
  .menu_div .menu_link #light_novel_link_ {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 730px) {
  #light_novel_link_ {
    padding: 2vh 0;
  }
}

@media screen and (max-width: 570px) {
  header nav .menu_div {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  header nav .menu_div .menu_title {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  header nav .menu_div .menu_link {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  header nav .menu_div .menu_link #light_novel_link_ {
    padding: 0 10px;
  }
  header nav .menu_div .menu_link li a {
    font-size: 2vh;
    padding: 0 4vw;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}

@media screen and (max-width: 480px) {
  #light_novel_link_ {
    padding: 0vh 1vh;
  }
}

/* ! footer*/
footer {
  background-color: #370617;
  min-height: 10vh;
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_list .footer_link {
  padding: 1vh;
  margin-left: 1vw;
}

/*Vistas*/
/*Main of Index*/
.body_index {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto auto 1fr auto;
  /*Part of bestseller here contain*/
}

.body_index .background_index {
  background-image: url(../images/index/backgroud-image2.jpg);
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  /*the main polarodi where it show a big image and a message*/
  /*an animation*/
}

.body_index .background_index .polaroid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #0c0c0c;
  margin-bottom: 25px;
  margin-top: 20px;
}

.body_index .background_index .polaroid .img_content {
  text-align: center;
  padding: 10px 20px;
  color: #f48c06;
}

.body_index .background_index .tenor-gif-embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 1vh;
}

.body_index .bestseller_section {
  background-color: #270303;
}

.body_index .bestseller_section_title {
  color: #fc9700;
  margin-left: 25px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.body_index .bestseller_section .carnage_polaroid {
  background: rgba(0, 0, 0, 0.137);
  -webkit-box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
          box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-bottom: 20px;
  color: aliceblue;
  margin-top: 20px;
}

.body_index .bestseller_section .carnage_polaroid .carnage_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/*Main of Comics*/
.comics_background {
  background-image: url(../images/comics/backgroud_image_comic.jpg);
  background-position: center;
  background-size: contain;
  /*Section of comics */
}

.comics_background .comics_title {
  color: orange;
  text-align: center;
}

.comics_background .section_comics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 10px;
  /*The polaroids and their respective pictures*/
}

.comics_background .section_comics .carnage_polaroid {
  background: rgba(0, 0, 0, 0.137);
  -webkit-box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
          box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  color: aliceblue;
}

.comics_background .section_comics .carnage_polaroid .carnage_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.comics_background .section_comics .daredevil_polaroid {
  background: rgba(0, 0, 0, 0.137);
  -webkit-box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
          box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  color: aliceblue;
}

.comics_background .section_comics .daredevil_polaroid .daredevil_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.comics_background .section_comics .conan_polaroid {
  background: rgba(0, 0, 0, 0.137);
  -webkit-box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
          box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  color: aliceblue;
}

.comics_background .section_comics .conan_polaroid .conan_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.comics_background .section_comics .hulk_polaroid {
  background: rgba(0, 0, 0, 0.137);
  -webkit-box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
          box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  margin-bottom: 20px;
  color: aliceblue;
}

.comics_background .section_comics .hulk_polaroid .hulk_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Main of Manga*/
.background_manga {
  background-image: url(../images/backgroud-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background_manga .manga_title {
  color: orange;
  text-align: center;
}

.background_manga .manga_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 15px;
}

.background_manga .manga_section .blue_lock_polaroid {
  background: rgba(0, 0, 0, 0.137);
  -webkit-box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
          box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  margin-bottom: 20px;
  color: antiquewhite;
}

.background_manga .manga_section .blue_lock_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.background_manga .manga_section .chainsaw_polaroid {
  background: rgba(0, 0, 0, 0.137);
  -webkit-box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
          box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  margin-bottom: 20px;
  color: antiquewhite;
}

.background_manga .manga_section .chainsaw_polaroid .chainsaw_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.background_manga .manga_section .chainsaw_polaroid .chainsaw_polaroid div button {
  color: black;
  margin: 7px;
  display: inline;
}

.background_manga .manga_section .jujutsu_polaroid {
  background: rgba(0, 0, 0, 0.137);
  -webkit-box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
          box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  margin-bottom: 20px;
  color: antiquewhite;
}

.background_manga .manga_section .jujutsu_polaroid .jujutsu_polaroid div button {
  color: black;
  margin: 7px;
  display: inline;
}

.background_manga .manga_section .jujutsu_polaroid .jujutsu_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.background_manga .manga_section .revengers_polaroid {
  background: rgba(0, 0, 0, 0.137);
  -webkit-box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
          box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  margin-bottom: 20px;
  color: antiquewhite;
}

.background_manga .manga_section .revengers_polaroid .revengers_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/*Main of Light Novels*/
.background_light_novel {
  background-image: url(../images/light_novel_background_image.jpg);
}

.background_light_novel .light_novel_title {
  color: orange;
  text-align: center;
}

.background_light_novel .light_novel_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 15px;
}

.background_light_novel .goblin_slayer {
  background: rgba(0, 0, 0, 0.137);
  -webkit-box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
          box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  margin-bottom: 20px;
  color: antiquewhite;
}

.background_light_novel .goblin_slayer_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/*Main of Contact Us*/
.contact_background {
  background-image: url(../images/Profile/background_profile.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_background .form {
  color: whitesmoke;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: black;
  border-radius: 2vw;
}

.contact_background .form fieldset p {
  padding: 1vh;
}

/*Profile main*/
.profile_background {
  background-color: #220808;
}

.profile_background .back {
  background-color: #161515;
  height: 80vh;
}

.profile_background .title_profile {
  text-align: center;
  color: orange;
}

.profile_background .profile_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile_background .profile_data .data {
  text-align: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  background-color: black;
  color: orange;
  margin: 10px 10px;
  border-radius: 10px;
}

.profile_background .profile_data .data .separation {
  padding: 1vh 1vw;
}

.profile_background .profile_data .compras {
  text-align: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  background-color: black;
  color: orange;
  margin: 10px 10px;
  border-radius: 10px;
}

.profile_background .profile_data .compras .paragraph_compras {
  padding: 1vh 1vw;
}

.profile_background .profile_data .compras .selled_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile_background .profile_data .compras .selled_picture .selled_item_img {
  border-radius: 10px;
  height: 30vh;
  margin: 1vh 1vw;
}
/*# sourceMappingURL=index.css.map */