/*Main of Comics*/

.comics_background {
    background-image: url(../images/comics/backgroud_image_comic.jpg);
    background-position: center;
    background-size: contain;
/*Section of comics */
    .section_comics {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
    }
/*The polaroids and their respective pictures*/
    .carnage_polaroid {
        background: rgba(0, 0, 0, 0.137);
        box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40vh;
        margin-top: 20px;
        color: aliceblue;
        .carnage_polaroid_picture {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
    .daredevil_polaroid {
        background: rgba(0, 0, 0, 0.137);
        box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40vh;
        margin-top: 20px;
        color: aliceblue;
        .daredevil_polaroid_picture {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
    .conan_polaroid {
        background: rgba(0, 0, 0, 0.137);
        box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40vh;
        margin-top: 20px;
        color: aliceblue;
        .conan_polaroid_picture {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
    .hulk_polaroid {
        background: rgba(0, 0, 0, 0.137);
        box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40vh;
        margin-top: 20px;
        margin-bottom: 20px;
        color: aliceblue;
        .hulk_polaroid_picture {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }    
    }
}
















