/*Main of Contact Us*/
.contact_background {
    background-image:  url(../assets/images/Profile/background_profile.jpg)  ;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    

    .form {
        color: whitesmoke;
        text-align: center;
        margin: 5vh 0;
        background-color: black;
        border-radius: 1.5vw;
        label{
            font-size: large;
        }
        fieldset p {
            padding: 2vh;
            input{
            color: #000000;
            font-size:medium;
            }
        }
        fieldset{
            display: grid;
            grid-template-columns: 1fr;
            grid-row: 7;
            height: 65vh;
        }
    }
}
