/*Main of Contact Us*/
.contact_background {
    background-image: url(../images/Profile/background_profile.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;

    .form {
        color: whitesmoke;
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        background-color: black;
        border-radius: 2vw;

        fieldset p {
            padding: 1vh;
        }
    }
}
