/*Main of Index*/
.body_index{
    display: grid;
    grid-auto-rows: auto 1fr auto;
    .background_index {
        background: #000000;
        background: linear-gradient(90deg,#000000 0%, #3d3d3d 90%, #000000 100%);
        background: -webkit-linear-gradient(90deg,#000000 0%, #3d3d3d 90%, #000000 100%);
        background: -moz-linear-gradient(90deg,#000000 0%, #3d3d3d 90%, #000000 100%);
    
        /*the main polaroid where it show a big image and a message*/
        .polaroid_about_us{
            color: map-get($colors, principal);
                margin-left: 25px;
                margin-top: 10px;
                padding-bottom: 10px;
        }
        .polaroid {
            display: block;
            flex-basis: 30%;
            width: 25vw;
            
            
            .img_content {
                min-width: auto;
                min-height: 20vh;
                text-align: center;
                padding: 10px 20px;
            }
        }
        /*Part of bestseller here contain*/
        .bestseller_section {
        flex-basis: 70%;
        flex-grow: 1;
        
            &_title {
                color: map-get($colors, principal);
                margin-left: 25px;
                margin-top: 10px;
                padding-bottom: 10px;
            }
            .carnage_polaroid {
                background: rgba(0, 0, 0, 0.137);
                border-radius: 10px;
                border: 1px solid rgba(255, 255, 255, 0.18);
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 40vh;
                margin-top: 20px;
                margin-bottom: 20px;
                color: antiquewhite;
            
                .carnage_polaroid_picture {
                width: 100%;
                height: auto;
                border-radius: 10px;
                }
            }
        }
    }
}

// Prueba 
