/*Main of Light Novels*/
.background_light_novel {
    background: #000000;
    background: linear-gradient(90deg,#000000 0%, #3d3d3d 90%, #000000 100%);
    background: -webkit-linear-gradient(90deg,#000000 0%, #3d3d3d 90%, #000000 100%);
    background: -moz-linear-gradient(90deg,#000000 0%, #3d3d3d 90%, #000000 100%);
    .light_novel_title{
        color: map-get($colors, principal );
        margin: 20px 1vw;
        border-bottom: 2px solid map-get($colors, principal);
    }
    .light_novel_section{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: baseline;
        flex-grow: 1;
    }
    .ln_polaroids {
        background: rgba(0, 0, 0, 0.137);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35vh;
        margin-top: 20px;
        margin-bottom: 20px;
        color: antiquewhite;

        &_picture {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}

