
/*Main of Light Novels*/
.background_light_novel {
    background-image: url(../images/light_novel_background_image.jpg);
     table {
        color: aliceblue;
        border-radius: 1px;
        border: 2px;
    }    
}

