/*Profile main*/
.profile_background {
    background-color: rgb(34, 8, 8);
    background: #000000;
    background: linear-gradient(90deg,#000000 0%, #3d3d3d 90%, #000000 100%);
    background: -webkit-linear-gradient(90deg,#000000 0%, #3d3d3d 90%, #000000 100%);
    background: -moz-linear-gradient(90deg,#000000 0%, #3d3d3d 90%, #000000 100%);
    .back{
        height: 80vh;
    }
    .title_profile {
        color: map-get($colors, principal );
        margin: 20px 1vw;
        border-bottom: 2px solid map-get($colors, principal);
    }

    .profile_data {
        display: flex;
        align-items:flex-start;
        justify-content: center;

        .data {
            text-align: center;
            flex-basis: 40%;
            text-decoration: solid;
            background-color: black;
            color: map-get($colors , secondary );
            margin: 10px 10px;
            border-radius: 10px;
            .separation{
                padding: 1vh 1vw; }
        }

        .compras {
            text-align: center;
            flex-basis: 50%;
            text-decoration: solid;
            background-color: black;
            color: map-get($colors, secondary );
            margin: 10px 10px;
            border-radius: 10px;
            .paragraph_compras{
                padding: 1vh 1vw;
            }
            .selled_picture{
                display: flex;
                justify-content: center;
                .selled_item_img{
                    border-radius: 10px;
                    height: 30vh;
                    margin: 1vh 1vw;
                }
            }
        }
    }
}
