/* Globales y variables*/
/* Normalize*/
*,
*::after,
*::before {
  font-family: Quintessential;
  border-left: 20px;
  border-right: 20px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100%;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

/*!  general */
picture {
  min-width: 320px;
}

li form input {
  width: 13vw;
}

/*Partials*/
/*Header Menu styles */
a:link {
  color: white;
}

a:visited {
  color: rgba(255, 166, 0, 0.973);
}

a:hover {
  color: red;
}

li a:hover:not(.active) {
  background-color: #270303;
  border: 1px solid #0c0c0c;
}

a:active {
  color: black;
}

header {
  background-color: #370617;
}

header nav {
  min-height: 10vh;
  min-width: 100%;
}

header nav .menu_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: inherit;
}

header nav .menu_div .menu_title {
  color: #ffa500;
  flex-basis: 30%;
  min-width: 30vw;
  max-width: 40vw;
}

header nav .menu_div .dropdown {
  display: none;
}

header nav .menu_div .menu_link {
  display: flex;
  flex-basis: 60%;
  justify-content: space-evenly;
  align-items: center;
}

header nav .menu_div .menu_link li a {
  font-size: 2vh;
  padding: 3vh;
  transition: all .3s ease-in-out;
}

header nav .menu_div .menu_link .light_novel_link_ {
  padding: 3vh 1vw;
}

/* Media Queries*/
@media screen and (max-width: 770px) {
  .menu_div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu_div .menu_link {
    justify-content: space-between;
    flex-grow: 1;
  }

  .menu_div .menu_link li a {
    padding: 0 3vh;
  }

  .menu_div .menu_link li form input {
    width: 10vw 0;
  }

  .menu_div .menu_link .light_novel_link_ {
    padding: 0vh 3vh;
  }
}

@media screen and (max-width: 730px) {
  .light_novel_link_ {
    padding: 2vh 0;
  }
}

@media screen and (max-width: 570px) {
  .menu_link {
    justify-content: space-between;
    flex-grow: 1;
  }

  .menu_link .light_novel_link_ {
    padding: 2vh 1vh;
  }

  .menu_link li a {
    font-size: 2vh;
    padding: 0 5vh;
    transition: all .3s ease-in-out;
  }
}

@media screen and (max-width: 480px) {
  .light_novel_link_ {
    padding: 0vh 1vh;
  }
}

@media screen and (max-width: 400px) {
  .menu_div {
    justify-content: flex-start;
    flex-basis: 50%;
  }

  .menu_div .menu_title {
    flex-grow: 1;
    width: 50vw;
    height: 4vh;
    justify-content: flex-start;
  }

  .menu_div .dropdown {
    display: flex;
    position: relative;
    flex-basis: 50%;
    justify-content: right;
  }

  .menu_div .dropdown .dropdown_logo {
    opacity: 1;
    width: 15vw;
    height: 4vh;
  }

  .menu_div .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b0202;
    min-width: 20vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid black;
    margin-top: 5vh;
  }

  .menu_div .dropdown .dropdown-content .dropdown-content a {
    color: white;
    padding: 1vw 1vh;
    text-decoration: none;
    display: block;
    font-size: x-small;
    border: 1px solid black;
  }

  .menu_div .dropdown .dropdown-content .dropdown-content a:hover {
    background-color: #790707;
    color: rgba(255, 166, 0, 0.973);
  }

  .menu_div .dropdown .dropdown:hover .dropdown-content {
    display: block;
  }

  .menu_div .menu_link {
    display: none;
  }
}

/* ! footer*/
footer {
  background-color: #370617;
  min-height: 10vh;
}

.footer_list {
  display: flex;
  align-items: center;
  min-height: 10vh;
  justify-content: center;
}

.footer_list .footer_link {
  padding: 1vh;
  margin-left: 1vw;
}

/*Vistas*/
/*Main of Index*/
.body_index {
  display: grid;
  grid-auto-rows: auto auto 1fr auto;
}

.body_index .background_index {
  background-size: cover;
  background-attachment: local;
}

.body_index .background_index .polaroid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #0c0c0c;
  margin-bottom: 25px;
  margin-top: 20px;
}

.body_index .background_index .polaroid .img_content {
  text-align: center;
  padding: 10px 20px;
  color: #f48c06;
}

.body_index .background_index .tenor-gif-embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 1vh;
}

.body_index .bestseller_section {
  background-color: #270303;
}

.body_index .bestseller_section_title {
  color: #fc9700;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Main of Comics*/
.comics_background {
  background-position: center;
  background-size: contain;
}

.comics_background .section_comics {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.comics_background .carnage_polaroid {
  background: rgba(0, 0, 0, 0.137);
  box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  color: aliceblue;
}

.comics_background .carnage_polaroid .carnage_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.comics_background .daredevil_polaroid {
  background: rgba(0, 0, 0, 0.137);
  box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  color: aliceblue;
}

.comics_background .daredevil_polaroid .daredevil_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.comics_background .conan_polaroid {
  background: rgba(0, 0, 0, 0.137);
  box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  color: aliceblue;
}

.comics_background .conan_polaroid .conan_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.comics_background .hulk_polaroid {
  background: rgba(0, 0, 0, 0.137);
  box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  margin-bottom: 20px;
  color: aliceblue;
}

.comics_background .hulk_polaroid .hulk_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Main of Manga*/
.background_manga {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background_manga body main .manga_section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-grow: 1;
  gap: 15px;
}

.background_manga body main .manga_section .blue_lock_polaroid {
  background: rgba(0, 0, 0, 0.137);
  box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.background_manga body main .manga_section .blue_lock_polaroid .blue_lock_polaroid div {
  color: antiquewhite;
}

.background_manga body main .manga_section .blue_lock_polaroid .blue_lock_polaroid div .blue_lock_polaroid div button {
  color: black;
  margin: 7px;
  display: inline;
}

.background_manga body main .manga_section .blue_lock_polaroid .blue_lock_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.background_manga body main .manga_section .chainsaw_polaroid {
  background: rgba(0, 0, 0, 0.137);
  box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.background_manga body main .manga_section .chainsaw_polaroid .chainsaw_polaroid div {
  color: antiquewhite;
}

.background_manga body main .manga_section .chainsaw_polaroid .chainsaw_polaroid div .chainsaw_polaroid div button {
  color: black;
  margin: 7px;
  display: inline;
}

.background_manga body main .manga_section .chainsaw_polaroid .chainsaw_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.background_manga body main .manga_section .jujutsu_polaroid {
  background: rgba(0, 0, 0, 0.137);
  box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.background_manga body main .manga_section .jujutsu_polaroid .jujutsu_polaroid div {
  color: antiquewhite;
}

.background_manga body main .manga_section .jujutsu_polaroid .jujutsu_polaroid div .jujutsu_polaroid div button {
  color: black;
  margin: 7px;
  display: inline;
}

.background_manga body main .manga_section .jujutsu_polaroid .jujutsu_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.background_manga body main .manga_section .revengers_polaroid {
  background: rgba(0, 0, 0, 0.137);
  box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  margin-top: 20px;
  margin-bottom: 20px;
  color: aliceblue;
}

.background_manga body main .manga_section .revengers_polaroid .revengers_polaroid_picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/*Main of Light Novels*/
.background_light_novel .background_light_novel table {
  color: aliceblue;
  border-radius: 1px;
  border: 2px;
}

/*Main of Contact Us*/
.contact_background {
  background-color: #220808;
  display: flex;
  justify-content: center;
}

.contact_background .form {
  color: whitesmoke;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: black;
  border-radius: 2vw;
}

.contact_background .form fieldset p {
  padding: 1vh;
}

/*Profile main*/
.profile_background {
  background-color: #550b0b;
}

.profile_background .title_profile {
  text-align: center;
}

.profile_background .profile_data {
  display: flex;
  justify-content: center;
}

.profile_background .profile_data .data {
  text-align: center;
  text-decoration: solid;
  background-color: black;
  color: orange;
  margin: 10px 10px;
}

.profile_background .profile_data .compras {
  text-align: center;
  text-decoration: solid;
  background-color: black;
  color: orange;
  margin: 10px 10px;
}
