/* Normalize*/
*,
*::after,
*::before {
    font-family: Quintessential;
    border-left: 20px;
    border-right: 20px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-auto-rows: auto 1fr auto;
      
}

/* ! footer*/
footer {
    background-color: rgb(39, 3, 3);
    min-height: 10vh;
}

.footer_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 10vh;
}

.footer_link {
    padding: 1.2rem;
}

/*!  general */

picture{
    min-width: 320px;
    
}
li form input{
    width: 13vw;
}


/* ! HELPERS*/
.container {
    max-width: 1080px;
    margin: 0 auto;
}




/*Menu styles */

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgba(255, 166, 0, 0.973);
}

a:hover {
    color: rgb(255, 0, 0);
}

li a:hover:not(.active) {
    background-color: rgb(39, 3, 3);
    border: 1px solid rgb(12, 12, 12);
}

a:active {
    color: rgb(0, 0, 0);
}

header {
    background-color: rgb(55, 6, 23);
}

nav {
    min-height: 10vh;
    min-width: 100%;

}

.menu_div {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    min-height: inherit;
}

.menu_link {
    display: flex;
     flex-basis: 60%; 
    justify-content: space-evenly;
    align-items: center;
}

.menu_title {
    color: #ffa500;
    flex-basis: 30%;
     min-width: 30vw; 
     max-width: 40vw; 
}
.dropdown{
    display: none;
}


.nav {
    padding: 0 2rem;
    /*para generar un espacio en los costados cuando  achicamos la pagina*/
}

li a {
    font-size: 2vh;
    padding: 3vh;
    transition: all .3s ease-in-out;
}

.light_novel_link_ {
    padding: 3vh 1vw;
}






/*Main of Index*/
.body_index{
    display: grid;
    grid-auto-rows: auto auto 1fr auto;

}

.background_index {
    background-image: url(../images/index/backgroud\ image2.jpg);
    background-size: contain;
    background-attachment: local;
}

.polaroid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(12, 12, 12);
    margin-bottom: 25px;
    margin-top: 20px;
}

.img_content {
    text-align: center;
    padding: 10px 20px;
    color: rgb(244, 140, 6);
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bestseller_section {
    background-color: rgb(39, 3, 3);

}

.bestseller_section_title {
    color: rgb(252, 151, 0);
}










/* Main of Manga*/

.background_manga {
    background-image: url(../images/backgroud\ image.jpg );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body main .manga_section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-grow: 1;
    gap: 15px
    ;
}

.blue_lock_polaroid_picture{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.blue_lock_polaroid {
    background: rgba(0, 0, 0, 0.137);
    box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    margin-top: 20px;
    margin-bottom: 20px;
    

}

.blue_lock_polaroid div {
    color: antiquewhite;
}

.blue_lock_polaroid div button {
    color: black;
    margin: 7px;
    display: inline;
}

.chainsaw_polaroid {
    background: rgba(0, 0, 0, 0.137);
    box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chainsaw_polaroid_picture {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.chainsaw_polaroid div {
    color: antiquewhite;
}

.chainsaw_polaroid div button {
    color: black;
    margin: 7px;
    display: inline;
}

.jujutsu_polaroid_picture{
    width: 100%;
    height: auto;
    border-radius: 10px;
}



.jujutsu_polaroid {
    background: rgba(0, 0, 0, 0.137);
    box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.jujutsu_polaroid div {
    color: antiquewhite;
}

.jujutsu_polaroid div button {
    color: black;
    margin: 7px;
    display: inline;
}

.revengers_polaroid_picture{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.revengers_polaroid {
    background: rgba(0, 0, 0, 0.137);
    box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    margin-top: 20px;
    margin-bottom: 20px;
    color: aliceblue;
}










/*Main of Comics*/

.comics_background {
    background-image: url(../images/comics/backgroud_image_comic.jpg);
    background-position: center;
    background-size: contain;
}

.section_comics {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.carnage_polaroid_picture {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carnage_polaroid {
    background: rgba(0, 0, 0, 0.137);
    box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    margin-top: 20px;
    color: aliceblue;
}

.daredevil_polaroid_picture {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.daredevil_polaroid {
    background: rgba(0, 0, 0, 0.137);
    box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    margin-top: 20px;
    color: aliceblue;
}

.conan_polaroid_picture {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.conan_polaroid {
    background: rgba(0, 0, 0, 0.137);
    box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    margin-top: 20px;
    color: aliceblue;
}

.hulk_polaroid_picture {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.hulk_polaroid {
    background: rgba(0, 0, 0, 0.137);
    box-shadow: 0 8px 32px 0 rgba(168, 170, 202, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    margin-top: 20px;
    margin-bottom: 20px;
    color: aliceblue;
}





/*Main of Light Novels*/
.background_light_novel {
    background-image: url(../images/light_novel_background_image.jpg);
}

.background_light_novel table {
    color: aliceblue;
    border-radius: 1px;
    border: 2px;
}







/*Main of Contact Us*/
.contact_background {
    background-color: rgb(34, 8, 8);
}

.form {
    color: white;
    text-align: center;
}










/*Profile main*/
.profile_background {
    background-color: rgb(85, 11, 11);
}

.profile_data {
    display: flex;
    justify-content: center;


}

.title_profile {
    text-align: center;
}

.data {
    text-align: center;
    text-decoration: solid;
    background-color: black;
    color: orange;
    margin: 10px 10px;
}

.compras {
    text-align: center;
    text-decoration: solid;
    background-color: black;
    color: orange;
    margin: 10px 10px;
}











/* Media Queries*/
@media screen and (max-width: 770px){
    .menu_div{
        flex-wrap: wrap;
        justify-content: center;
    }
    li a {
        padding: 0 3vh;
    }
    li form input{
        width: 10vw 0;
    }
    .light_novel_link_ {
        padding: 0vh 3vh;
    }
    .menu_link{
        justify-content: space-between;
        flex-grow: 1;
    }
}

@media screen and (max-width: 730px){
    .light_novel_link_{
        padding: 2vh 0;
    }
}

@media screen and (max-width: 570px){
    .light_novel_link_ {
        padding: 2vh 0;
    }
    .menu_link{
        justify-content: space-between;
        flex-grow: 1;
    }
    li a {
        font-size: 2vh;
        padding: 0 5vh;
        transition: all .3s ease-in-out;
    }
    .light_novel_link_ {
        padding: 0vh 1vh;
    }
}
@media screen and (max-width: 480px){
    .light_novel_link_ {
        padding: 0vh 1vh;
    }
}
@media screen and (max-width: 400px){

    .menu_div{
        justify-content: flex-start;
        flex-basis: 50%;
    }

    .menu_title{
        flex-grow: 1;
        width: 50vw;
        height: 4vh;
        justify-content: flex-start;
    }

      .dropdown_logo{
        opacity: 1;
        width: 15vw;
        height: 4vh;
      }
      .menu_link{
        display: none;
      }

      .dropdown {
          display: flex;
        position: relative;
        flex-basis: 50%;
        justify-content: right;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #2b0202;
        min-width: 20vw;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border: 1px solid black;
        margin-top: 5vh;
        
      }
      
      .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 1vw 1vh;
        text-decoration: none;
        display: block;
        font-size:x-small;
        border: 1px solid black;
      }
      
      .dropdown-content a:hover {
        background-color: #790707;
        color: rgba(255, 166, 0, 0.973)
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}



