/*Helpers*/
@mixin flex($justify, $align, $gap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}  
li form input{
    width: 13vw;
}
.polaroid_content{
    text-align: center;
    padding: 0vh 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
button:hover{
    color: map-get($colors, principal );
}
.add_to_cart_buttons{
    margin-left: 25%;
    margin-right: 25%;
}