/*Helpers*/
@mixin flex($justify, $align, $gap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}  
li form input{
    width: 13vw;
}
.polaroid_content{
    text-align: center;
    padding: 0vh 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
button:hover{
    color: map-get($colors, principal );
}
.add_to_cart_buttons{
    color: map-get($colors, principal );
    background: #000000;
    background: linear-gradient(90deg,#000000 0%, #3d3d3d 90%, #000000 100%);
    background: -webkit-linear-gradient(90deg,#000000 0%, #3d3d3d 90%, #000000 100%);
    background: -moz-linear-gradient(90deg,#000000 0%, #3d3d3d 90%, #000000 100%);
    border: solid 2px orange;
    margin: 1vh 25%;
}
.add_to_cart_buttons:hover{
     background-color:#000000;
     color:white ;
}
