/*Helpers*/
@mixin flex($justify, $align, $gap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}  
li form input{
    width: 13vw;
}
.polaroid_content{
    text-align: center;
    padding: 0vh 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.add_to_cart_buttons{
    padding: 2px;
    background-image:url(../images/Buttons-general/buttons-bc.jpg);
    background-size: cover;
    color: whitesmoke;
}
button:hover{
    color: map-get($colors, principal );
}
hr{
    border: inset map-get($colors, principal );
}
