/*Variables*/
$colors:(
    principal: #F29602,
    secondary: #F2EFEA,
    backgrounds: #3D3D3D,
    darker: #000000,
);
$fonts:(
    Font-titles:l,
    Font-text:l
);

@each $var, $val in $colors{
    .color--#{$var}{
        color: #{$val};
    }
}