/* ! footer*/
footer {
    background-color: map-get($colors , darker);
    min-height: 10vh;
    
    .footer_list {
        @include flex(center, center, 0);
        min-height: 10vh;
        .footer_link {
            padding: 1vh;
            margin-left: 1vw;
        }
    }
}


