/* ! footer*/
footer {
    background-color: rgb(55, 6, 23);
    min-height: 10vh;
}

.footer_list {
    display: flex;
    align-items: center;
    min-height: 10vh;
    justify-content: center;
    .footer_link {
        padding: 1vh;
        margin-left: 1vw;
    }
}

