/*Header Menu styles */

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgba(255, 166, 0, 0.973);
}

a:hover {
    color: rgb(255, 0, 0);
}

li a:hover:not(.active) {
    background-color: rgb(39, 3, 3);
    border: 1px solid rgb(12, 12, 12);
}

a:active {
    color: rgb(0, 0, 0);
    border-bottom: 3px solid crimson;
}

header {
    background-color:map-get($colors, darker);

    nav {
        min-height: 10vh;
        min-width: 100%;
        border-bottom: solid whitesmoke;

        .menu_div {
            @include flex(space-evenly, center, 0);
            min-height: inherit;

            .menu_title {
                color: map-get($colors, principal );
                flex-basis: 30%;
                max-height: 10vh;
                max-width: auto;
            }

            .dropdown {
                display: none;
            }

            .menu_link {
                @include flex(flex-end, center, 0);
                gap: 1vw;
                flex-basis: 70%;
                li a {
                    font-size: 2vh;
                    padding: 3vh;
                    transition: all .3s ease-in-out;
                }

                #light_novel_link_ {
                    padding: 3vh 1vw;
                }
            }
        }
    }
}

/* Media Queries*/
@media screen and (max-width: 770px) {
    .menu_div {
        flex-wrap: wrap;
        justify-content: center;

        .menu_link {
            justify-content: space-between;
            flex-grow: 1;

            li a {
                padding: 0 3vw;
                display: flex;
                justify-content: center;
            }

            li form input {
                width: 10vw 0;
            }

            #light_novel_link_ {
                padding-bottom: 5px;
                
            }
        }
    }
}

@media screen and (max-width: 730px) {
    #light_novel_link_ {
        padding: 2vh 0;
    }
}

@media screen and (max-width: 570px) {
    header nav .menu_div{
    display: grid;
    grid-template-rows: 1fr 1fr;
        .menu_title{
            justify-self: center;
        }
        .menu_link {
        justify-content: space-between;
        flex-grow: 1;

            #light_novel_link_ {
            padding: 0 10px;
            }

            li a {
            font-size: 2vh;
            padding: 0 4vw;
            transition: all .3s ease-in-out;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #light_novel_link_ {
        padding: 0vh 1vh;
    }
}

