/*Header Menu styles */

a:link {
    color: map-get($colors, principal );
}

a:visited {
    color: map-get($colors, principal );
}

a:hover {
    color: map-get($colors, secondary );
}

li a:hover:not(.active) {
    background-color: rgb(37, 36, 36);
    border-bottom: 4px solid map-get($colors, secondary);
}

a:active {
    color: rgb(0, 0, 0);
    border-bottom: 3px solid crimson;
}

header {
    background-color:map-get($colors, darker);
    font-weight: bolder;

    .nav {
        min-height: 10vh;
        min-width: 100%;
        border-bottom: 1px solid whitesmoke;

        .menu_div {
            @include flex(space-evenly, center, 0);
            min-height: inherit;

            .menu_title {
                color: map-get($colors, principal );
                flex-basis: 20%;
                max-width: auto;
                padding: 7px
            }

            .menu_link {
                @include flex(flex-end, center, 0);
                gap: 1vw;
                flex-basis: 70%;
                li a {
                    font-size: 2vh;
                    padding: 3vh;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
    .secondary_nav{
        border-bottom: 1px solid grey;
        &_list{
            display: flex;
            &_item{
                padding: 1vh 0;
                .sales-pages{
                    padding: 1vh 2vw;
                }
            }
        }
        
    }
}

/* Media Queries*/
@media screen and (max-width: 770px) {
    .menu_div {
        flex-wrap: wrap;
        justify-content: center;

        .menu_link {
            justify-content: space-between;
            flex-grow: 1;

            li a {
                padding: 0 3vw;
                display: flex;
                justify-content: center;
            }

            li form input {
                width: 10vw 0;
            }

            #light_novel_link_ {
                padding-bottom: 5px;
                
            }
        }
    }
}

@media screen and (max-width: 730px) {
    #light_novel_link_ {
        padding: 2vh 0;
    }
}

@media screen and (max-width: 570px) {
    header nav .menu_div{
    display: grid;
    grid-template-rows: 1fr 1fr;
        .menu_title{
            justify-self: center;
        }
        .menu_link {
        justify-content: space-between;
        flex-grow: 1;

            #light_novel_link_ {
            padding: 0 10px;
            }

            li a {
            font-size: 2vh;
            padding: 0 4vw;
            transition: all .3s ease-in-out;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #light_novel_link_ {
        padding: 0vh 1vh;
    }
}

